//Path
$path-assets: 'http://localhost/';

// Fonts
$fontprimary: 'Arial';
$fontsecondary: 'Trebuchet MS';
$fontsize: 16px;

// Colors
$primarycolor: #fff; //white
$secondarycolor: #000; //black

//Spaces
$is5: 5px;
$is10: 10px;

//Media
$break-max-smartphone: 640px;
$break-min-tablet: 800px;
$break-max-tablet: 1024px;